.mainDiv {
    background-color: white;
    width: 90%;
    border: 15px solid green;
    padding: 75px;
    margin: 15px;
}

.mainchart { 
	display: inline-block;
	width: 33%;
	height: 500px;
}

/*.imageHeader { 
	display: inline-block;
	width: 50%;
	height: 100px;
}*/
table {
    border-collapse: collapse;
}

table, tr, td {
   border: 1px solid black;
}

/*#bar { 
	display: inline-block;
	width: 33%;
	height: 500px;
}

#pie { 
    display: inline-block;
	width: 33%;
	height: 500px;
}*/
